html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  font-family: B612, sans-serif;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  text-align: center;
}

p {
  text-align: justify;
  margin: 10px;
  font-family: 'B612', sans-serif;
}

.myEnter {
  display: none;
}

.demo a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-weight: 4;
  font-size: 15px;
}

.demo a:hover,
.demo a:focus {
  outline: none;
}

body {
  background-color: rgb(243, 243, 243);
  padding: 20px;
  font-family: Arial;
}

.demo {
  position: relative;
  z-index: 1;
}

.demo a {
  overflow: hidden;
  margin: 0 1.5rem;
  float: left;
}

.demo a:last-child {
  float: right;
}

.day02 .demo a {
  float: none;
}

.demo a span {
  border-radius: 25px 25px 0px;
  text-align: center;
  display: block;
  padding: 0.83rem 1.9rem;

  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    135deg,
    #38ef7ddd,
    #000000bd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    135deg,
    #38ef7ddd,
    #000000bd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

.demo a::before {
  border-radius: 0px 25px 25px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0.83rem 1.9rem;
  width: 100%;
  height: 100%;
  /* background: #fff; */
  color: #fff;
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    135deg,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    135deg,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translateX(-100%) translateY(-100%);
  -webkit-transform: translateX(-100%) translateY(-100%);
  transform: translateX(-100%) translateY(-100%);
}

.demo a:last-child span {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    135deg,
    #1cb5e0dd,
    #000046dd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    135deg,
    #1cb5e0dd,
    #000046dd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0px 25px 25px;
}

.demo a:last-child::before {
  -moz-transform: translateX(100%) translateY(100%);
  -webkit-transform: translateX(100%) translateY(100%);
  transform: translateX(100%) translateY(100%);
  border-radius: 25px 25px 0px;
}

.demo a:hover span,
.demo a:focus span {
  -webkit-transform: translateX(100%) translateY(100%);
  -moz-transform: translateX(100%) translateY(100%);
  transform: translateX(100%) translateY(100%);
}

.demo a:hover::before,
.demo a:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

.demo a:hover:last-child span {
  -webkit-transform: translateX(-100%) translateY(-100%);
  -moz-transform: translateX(-100%) translateY(-100%);
  transform: translateX(-100%) translateY(-100%);
}

.main {
  max-width: 1500px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 14px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.content {
  height: 300px;
  border-radius: 25px;
  padding: 10px;
  line-height: 24px;
}

.day01 {
  background: #f7ff00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #db36a4,
    #f7ff00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #db36a4,
    #f7ff00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: drop-shadow(0.75rem 1rem 0.75rem #e9545785);
}

.day01 > h3 {
  color: #fff;
}

.day02 {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: drop-shadow(0.75rem 1rem 0.75rem #fdb776bd);
}

.day03 {
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #493240,
    #ff0099
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #493240,
    #ff0099
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: drop-shadow(0.75rem 1rem 0.75rem #f43eab9c);
}

.day03 {
  color: #fff;
}

.day04 {
  background: #1f4037; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    135deg,
    #99f2c8,
    #1f4037
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    135deg,
    #99f2c8,
    #1f4037
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: drop-shadow(1rem 1.25rem 1rem #6db194c7);
}

.day04 {
  color: #fff;
}

@media screen and (max-width: 1555px) {
  .column {
    width: 50%;
  }
  .demo a {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .myEnter {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  .demo a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .demo a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .demo a {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .demo a span {
    padding: 0.6rem 2rem;
  }
}
